


    <div class="card text-white bg-{{couleur}} mb-3" >
        <div class="card-header text-center"><i class="fa-solid fa-{{icone}} fa-3x"></i></div>
        <div class="card-body">
            <h4 class="card-title">{{titre}}</h4>
            <p class="card-text">{{detail}}</p>
        </div>
    </div>
