{% extends "base.html.twig" %}

{% block title %}
    Ma boutique
{% endblock %}

{% block body %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Accueil</li>
    </ol>


    <h2>Nos meilleures ventes</h2>

    <div class="row">
        {% for art in meilleurs %}
            <div class="col text-center">
                <h3>{{art.nom}}</h3>
                <img src="{{art.photo}}" alt="produit">
                <div>
                    <a href="{{  path( 'article.famille', {'idf':art.famille.id} )   }}">
                        <span class="badge bg-primary rounded-pill">{{art.famille.nom}}</span>
                    </a>
                </div>
                <p>{{art.descr}}</p>
                <a href="{{  path( 'article.detail', {'ida':art.id} )   }}" class="btn btn-info">Détail</a>
                <button class="btn btn-success">Acheter</button>
            </div>
        {% endfor %}
    </div>

    <div class="row mt-4 bg-light">
        <div class="col p-3">
            {% include "include/_encart.html.twig" with {
                'couleur':'primary',
                'icone':'truck',
                'titre':'Livraison',
                'detail':"Lorem ipsum, dolor sit amet consectetur adipisicing elit." 
            } %}
        </div>
        <div class="col p-3">
            {% include "include/_encart.html.twig" with {
                'couleur':'secondary',
                'icone':'eye',
                'titre':'Qualité',
                'detail':"Lorem ipsum, dolor sit amet consectetur adipisicing elit." 
            } %}
        </div>
        <div class="col p-3">
            {% include "include/_encart.html.twig" with {
                'couleur':'warning',
                'icone':'shield',
                'titre':'Sécurité',
                'detail':"Lorem ipsum, dolor sit amet consectetur adipisicing elit." 
            } %}
        </div>
    
    </div>
{% endblock %}
