{% extends 'base.html.twig' %}

{% block title %}{{article.nom}}{% endblock %}

{% block body %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{  path( 'accueil' )   }}">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{{  path( 'article.famille', {'idf':article.famille.id} )   }}">{{article.famille.nom}}</a></li>
        <li class="breadcrumb-item active">{{article.nom}}</li>
    </ol>

        <h1>{{article.nom}}</h1>
        <img src="{{article.photo}}" alt="produit">
        <div>
            <a href="{{  path( 'article.famille', {'idf':article.famille.id} )   }}">
                <span class="badge bg-primary rounded-pill">{{article.famille.nom}}</span>
            </a>
        </div>
        <p>{{article.descr}}</p>
        
        <button class="btn btn-success">Acheter</button>
    

{% endblock %}
