{% extends 'base.html.twig' %}

{% block title %}{{famille.nom}}{% endblock %}

{% block body %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{  path( 'accueil' )   }}">Accueil</a></li>
        <li class="breadcrumb-item active">{{famille.nom}}</li>
    </ol>

    <h1>{{famille.nom}}</h1>

    <div class="row">
        {% for art in famille.articles %}
            <div class="col-4 mb-4 text-center">
                <h3>{{art.nom}}</h3>
                <img src="{{art.photo}}" alt="produit">
                <div>
                    <a href="{{  path( 'article.famille', {'idf':art.famille.id} )   }}">
                        <span class="badge bg-primary rounded-pill">{{art.famille.nom}}</span>
                    </a>
                </div>
                <p>{{art.descr}}</p>
                <a href="{{  path( 'article.detail', {'ida':art.id} )   }}" class="btn btn-info">Détail</a>
                <button class="btn btn-success">Acheter</button>
            </div>
        {% endfor %}
    </div>


{% endblock %}
